

///// colors


$color-primary : #69035c ; 
$color-primary-light : #e60bc1;
$color-primary-dark : #680168; 
$color-grey-dark : #777;
$color-white : white;
$color-deam-white : rgb(201, 201, 201);
$color-black : black;
$color-grey-light-1 : #f7f7f7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-for-product1-light : #5e9ad9;
$color-for-product1-dark : #484686;

$color-for-product2-light : #8e64ac;
$color-for-product2-dark : #532a77;

$color-for-product3-light : #e05557;  
$color-for-product3-dark : #c92122;

$color-for-product4-light: #e25daf;
$color-for-product4-dark: #b8207c;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-success : #32d296;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;

