.form-control:focus {
    color: $color-grey-dark-3;
background-color:$color-white;
border-color: $color-secondary-dark;
outline: 0;
box-shadow: 0 0 0 0rem
    rgba($color-secondary-dark, 0.25);
}

.btn-secondary{
    background-color: $color-secondary-dark;
}

.hrgrey{
    border: 1px solid $color-grey-light-1;
}


/* .btn-danger{
    background-color: $color-primary;
} */

/* .btn-success{
    background-color: $color-success ; 
} */

